.header {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--dark-orange);
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.header-nav-link {
  text-decoration: none;
  color: var(--cream);
  font-weight: bold;
  font-size: 1.2rem;
}

.header-nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  margin-top: 2px;
  background: var(--cream);
  transition: width 0.3s;
}

.header-nav-link:hover::after {
  width: 100%;
}
