.header {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--dark-orange);
  border-bottom: 1px solid #e0e0e0;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.header-nav-link {
  text-decoration: none;
  color: var(--cream);
  font-weight: bold;
  font-size: 1.2rem;
}
