@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark-brown: #2c1a07ff;
  --light-brown: #6d3d14ff;
  --lighter-brown: #8a6343ff;
  --dark-orange: #ff6e2fff;
  --light-orange: #ff9e4eff;
  --cream: #fff7f0ff;
  --error: #cc0000ff;
  --success: #1a7a1aff;
  --abort: #ef4444ff;
  --grey: #2d2f2fff;
  --silver: #c0c0c0ff;
  --yellow: #d5b60aff;
  --dark-grey: #1f2121ff;
  --blue-grey: #464b68ff;
  --header-height: 70px;
}

@font-face {
  font-family: 'CafeCoffee';
  src: url('/fonts/Cafe Coffee.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  size-adjust: 145%;
}

body {
  font-family: 'Roboto', 'Inter', sans-serif;
  color: var(--dark-brown);
  background-color: var(--cream);
}
