.login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
}

.login-form,
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  & label {
    font-weight: 500;
  }

  & input,
  & button {
    padding: 0.75rem;
    border: 1px solid var(--light-brown);
    border-radius: 4px;
    font-size: 1rem;
  }

  & input:focus {
    outline: none;
    border-color: var(--dark-orange);
  }

  & button {
    background-color: var(--dark-orange);
    color: var(--cream);
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition:
      background-color 0.2s,
      transform 0.1s;
  }

  & button:hover {
    background-color: var(--light-orange);
  }

  & button:active {
    transform: scale(0.95);
  }
}

.password-input-wrapper {
  position: relative;
  display: block;

  & input {
    width: 100%;
    padding-right: 3rem;
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    padding: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--light-brown);
  }

  & button:hover {
    background: none;
    color: var(--dark-orange);
  }

  & button:active {
    transform: translateY(-50%) scale(0.9);
  }
}
